/* Base */

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 5em;
  height: 100%;
}

/* Navigation */

.logo-img {
  margin-top: -.5em;
}

nav .btn-primary, .btn-primary:hover, .btn-primary:active:hover {
  border-color: #ccc;
  border-left: 0;
  line-height: 22px;
}

/* Main Content */

.jumbotron {
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 3.5em;
}

.jumbotron h1 {
  margin: 0 0 .5em 0;
}

.jumbotron .container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 1em 6em;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.post-list-box {
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f9f9f9;
  border: 1px solid #e6e6e6;
  height: 16em;
  overflow: hidden;
  position: relative;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #f15726;
}

.more-link {
  position: absolute;
  bottom: 0;
  right: 1em;
}

.post-list {
  list-style-type: none;
}

p {
  margin-bottom: .6em;
}

.post {
  padding: 2.5em 6em;
}

.post-list-header {
  margin-top: 0;
}

.post-header {
  margin-bottom: 1.5em;
}

/* Footer */

footer {
  border-top: 1px solid #e6e6e6;
  color: #555;
}

.footer-content {
  padding-bottom: 1em;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5em;
}

p.navbar-brand {
  margin-bottom: 0;
}

p.copyright {
  padding-left: 15px;
}

h3.search-title {
  margin-top: .5em;
  margin-bottom: 0;
}

/*@media (max-width: 992px) { ... }*/

@media (max-width: 778px) {
  .jumbotron .container {
    padding: 1.5em 3em;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse, .navbar-toggle {
        display:block !important;
    }
    .navbar-header {
        float:none;
    }
}
