---
layout: home
---

  <div class="container">

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sit amet dictum leo. Nullam pharetra lectus vitae purus tristique tempus. Interdum et <a href="#">malesuada fames ac ante ipsum</a> primis in faucibus. Sed nec dolor sapien. Curabitur rutrum scelerisque erat, at viverra erat faucibus in. Duis id sem tempus, consectetur lorem vel, mattis lorem. Mauris purus ante, hendrerit vitae eros id, auctor tincidunt elit. Cras at nisl in nunc molestie tincidunt. Aliquam scelerisque nibh neque, ac imperdiet nibh luctus vel. Morbi dapibus magna volutpat risus venenatis congue.</p>

  </div>
</div>

<div class="container">
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="post-list-box">
      <h2 class="post-list-header">Quick Start</h2>
      <ul class="post-list">
        {% for post in site.categories.quickstart %}
          {% if post.url %}
              <li><a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="post-list-box">
      <h2 class="post-list-header">Tutorials</h2>
      <ul class="post-list">
        {% for post in site.categories.tutorials %}
          {% if post.url %}
              <li><a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="post-list-box">
      <h2 class="post-list-header">Reference</h2>
      <ul class="post-list">
        {% for post in site.categories.reference %}
          {% if post.url %}
              <li><a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="post-list-box">
      <h2 class="post-list-header">Troubleshooting</h2>
      <ul class="post-list">
        {% for post in site.categories.troubleshooting %}
          {% if post.url %}
              <li><a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
