<footer class="footer">

  <nav class="navbar navbar-inverse footer-navbar">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">Copyright &copy; {{ site.time | date: '%Y' }} &#45; {{ site.title }}</p>
      </div>
    </div><!-- /.container -->
  </nav>

  <div class="container footer-content">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sit amet dictum leo. Nullam pharetra lectus vitae purus tristique tempus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed nec dolor sapien. Curabitur rutrum scelerisque erat, at viverra erat faucibus in. Duis id sem tempus, consectetur lorem vel, mattis lorem. Mauris purus ante, hendrerit vitae eros id, auctor tincidunt elit. Cras at nisl in nunc molestie tincidunt. Aliquam scelerisque nibh neque, ac imperdiet nibh luctus vel. Morbi dapibus magna volutpat risus venenatis congue.</p>
  </div>

</footer>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
