<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width">
  {% seo %}
  {% feed_meta %}
  <link rel="apple-touch-icon" sizes="180x180" href="{{ "/apple-touch-icon.png" | relative_url }}">
  <link rel="icon" type="image/png" href="{{ "/favicon-32x32.png" | relative_url }}" sizes="32x32">
  <link rel="icon" type="image/png" href="{{ "/favicon-16x16.png" | relative_url }}" sizes="16x16">
  <link rel="manifest" href="{{ "/manifest.json" | relative_url }}">
  <link rel="mask-icon" href="{{ "/safari-pinned-tab.svg" | relative_url }}" color="#0c51e4">
  <meta name="theme-color" content="#0c51e4">

  <!-- Bootstrap -->
  <link href="{{ "/css/bootstrap.min.css" | relative_url }}" rel="stylesheet">
  <link rel="stylesheet" href="{{ "/css/main.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/css/syntax.css" | relative_url }}">

    <!-- FONTS -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>
