---
layout: default
---
{% if page.title == 'all' %}
  <h1>Article Index</h1>
{% else %}
  <h1>Article Index of {{ page.type | capitalize }} '{{ page.title | capitalize }}'</h1>
{% endif %}
<ul class="posts">
  {% capture posts %}
    {% for post in page.posts %}
      |{{ post.title }}#{{ post.url }}
    {% endfor %}
  {% endcapture %}
  {% assign sortedposts = posts | split: '|' | sort %}
  {% for post in sortedposts %}
      {% assign postitems = post | split: '#' %}
      <li class="post-list"><a class="post-link" href={{ postitems[1] }}">{{ postitems[0] }}</a></li>
  {% endfor %}
</ul>
